{%extends 'tracker/base.html'%}
{%block content%}
  <div class="container">
    <div class="row shadow p-3 mt-3 mb-5 bg-white rounded" >
      <h1 style = " text-align:center">Vinayak Dubey</h1>
    </div>
    <div class="p-1">
      <div class="row shadow p-3 mb-5 bg-white rounded">
        <div class="p-2">
          <p class = "display-7">I am a passionate engineer looking for a challenging role in a reputable organization to utilize my technical, database and management skills for the growth of the organization as well as to enhance my knowledge about new and emerging trends in the IT sector.</p>
        </div>
      </div>
    </div>
    <div class="p-">
      <div class="container">
        <div class="row">
          <h3 class="display-5">Connect At</h1>
        </div>
        <div class="mt-1">
        </div>
        <div class="row">
          <div class="col">
            <h3 class = "display-6"><a href="https://www.linkedin.com/in/vinayak-dubey-49035119a/"><i class="fa fa-linkedin"></i></a></h2>
          </div>
          <div class="col">
            <h3 class="display-6"><a href="https://github.com/wina2602"><i class="fa fa-github fa"></i></a></h3>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <h3 class="display-5">Coding Profile</h1>
          </div>
          <div class="row">
            <div class="col"><a href="https://leetcode.com/Vinayak_2602/"><p class = "display-6">leetcode</p></a></div>
            <div class="col"><a href="https://www.codechef.com/users/wina2602"><p class = "display-6">CodeChef</p></a></div>
          </div>

        </div>
      </div>
    </div>
  </div>

{%endblock%}
